[submodule "org-mode"]
	path = org-mode
	url = git://git.randomsample.de/cedet.git
[submodule "cedet"]
	path = cedet
	url = ./cedet
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "redshank"]
	path = redshank
	url = http://www.foldr.org/~michaelw/projects/redshank.git
[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "el-autoyas"]
	path = el-autoyas
	url = git://github.com/mlf176f2/el-autoyas.el.git
