[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "cedet"]
	path = cedet
	url = git://git.randomsample.de/cedet.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "redshank"]
	path = redshank
	url = http://www.foldr.org/~michaelw/projects/redshank.git
[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "el-autoyas"]
	path = el-autoyas
	url = git://github.com/mlf176f2/el-autoyas.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "el-get/el-get"]
	path = el-get/el-get
	url = git://github.com/rparker/el-get
